{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" >
    <link rel="stylesheet" href="{% static 'main.css' %}">


    <title>RetechTwitter|{% block title %} {% endblock title %}</title>
</head>
<body>
    {% block body %}
      
    {% endblock body %}

    <script src="{% static 'bootstrap/js/main.js' %}"></script>
</body>
</html>