{% extends "base.html" %}
{% block title %} Home {% endblock title %}

{% block body %}

   <div class="container">
      <div class="row">
         <div class="col base-head">
            <h1>RetechTwitter</h1>
         </div>
      </div>

      <!-- <div class="row">
         <div class="col-md-4 mx-auto col-10">
            <form class="form" id="tweet-create-form" action="{% url 'create-tweet' %}" method="post">
               {% csrf_token %}
               <div class="d-none alert alert-danger" id="tweet-create-form-error"></div>
               <input type="hidden" value="/" name="next">
               <textarea required="required" class="form-control" name="content" id="tweet-content" cols="30" rows="2" placeholder="Create your tweet..."></textarea>
               <button type="submit" class="btn btn-primary">Create</button>
            </form>
         </div>
      </div> -->
  
      <div id="retech-tweets">
         
      </div>

      <!-- <div id="tweets">
         Lets see
      </div> -->


   </div>



   <script>
      function handleTweetFormError(message, display){
         var errorDiv = document.getElementById("tweet-create-form-error")
         if(display === true){
            //show error
            errorDiv.setAttribute("class","d-block alert alert-danger")
            errorDiv.innerText = message
         }else{
            //hide error
            errorDiv.setAttribute("class","d-none alert alert-danger")
         }
      }

      //CSRF Token

      function getCookie(name){
         var cookieValue = null;
         if (document.cookie && document.cookie !== ''){
            var cookies = document.cookie.split(';');
            for (var i=0; i<cookies.length; i++){
               var cookie = cookies[i].trim();
               //does this cookie name begin with the name we want?
               if (cookie.substring(0, name.length + 1) === (name + '=')){
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
               }
            }
         }
         return cookieValue;
      }
      

      function handleTweetCreateFormDidSubmit(event){
         event.preventDefault()
         const tweetForm = event.target
         const tweetFormData = new FormData(tweetForm)
         const url = tweetForm.getAttribute("action")
         const method = tweetForm.getAttribute("method")
         const xhr = new XMLHttpRequest()
         const responseType = "json"
         xhr.responseType = responseType
         xhr.open(method, url)
         xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
         xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")
         xhr.onload = function(){
            if (xhr.status === 201){
               handleTweetFormError("", false)
               const newTweetJson = xhr.response
               const newTweetElement = formatTweetElement(newTweetJson)
               console.log(newTweetElement)
               const ogHtml = tweetsContainerElement.innerHTML
               tweetsContainerElement.innerHTML = newTweetElement + ogHtml
               tweetForm.reset()
            }else if (xhr.status === 400){
               const errorJson = xhr.response
               const contentError = errorJson.content
               let contentErrorMessage;

               if(contentError) {
                  contentErrorMessage = contentError[0]
                  if (contentErrorMessage){
                     handleTweetFormError(contentErrorMessage, true)
                  }else {
                     alert("An error Occurred! Please try again")
                  }
               }else {
                  alert("Oops! An error occured, Please try again")
               }
               console.log(contentErrorMessage)


            }else if (xhr.status === 500){
               alert("Oops! There was a server error, Please try again")
            }else if(xhr.status === 401){
               alert("You must be looged in");
               window.location.href = "/login"
            }else if (xhr.status === 403){
               alert("You must be logged in");
               window.location.href = "/login"
            }
         }
         xhr.send(tweetFormData)
      }

      const tweetCreateForm = document.getElementById("tweet-create-form")

      tweetCreateForm.addEventListener("submit", handleTweetCreateFormDidSubmit)

      const tweetsContainerElement = document.getElementById("tweets")

      function handleTweetAction(tweet_id, currentCount, action){
         console.log(tweet_id, currentCount)
         const url = "tweet/action/"
         const method = "POST"
         const data = JSON.stringify({
            id:tweet_id,
            action: action
         })
         const xhr = new XMLHttpRequest()
         const csrftoken = getCookie('csrftoken')
         xhr.open(method, url)
         xhr.setRequestHeader("Content-Type","application/json")
         xhr.setRequestHeader("HTTP_X_REQUESTED_WITH", "XMLHttpRequest")
         xhr.setRequestHeader("X-Requested-With","XMLHttpRequest")
         xhr.setRequestHeader("X-CSRFToken",csrftoken)
         xhr.onload = function(){
            loadTweets(tweetsContainerElement)
         }
         xhr.send(data)
      }

      function likeBtn(tweet){
            return "<button class='btn btn-primary btn-sm' onClick=handleTweetAction(" 
            + tweet.id +"," + tweet.likes +",'like'"+")>"+tweet.likes +" Likes</button>"
      }

      function unlikeBtn(tweet){
            return "<button class='btn btn-outline-primary btn-sm' onClick=handleTweetAction(" 
            + tweet.id +"," + tweet.likes +",'unlike'"+")> Unlike</button>"
      }

      function retweetBtn(tweet){
            return "<button class='btn btn-outline-success btn-sm' onClick=handleTweetAction(" 
            + tweet.id +"," + tweet.likes +",'retweet'"+")> Retweet</button>"
      }

      function formatTweetElement(tweet){

         var formattedTweet = "<div class='mb-4 tweet-item border-top border-' id='tweet-"+ tweet.id +"'>" +
                               "<p>" + tweet.content + "</p>" + 
                               "<p><div class='btn-group'>" + likeBtn(tweet) + 
                                 unlikeBtn(tweet) +
                                 retweetBtn(tweet) + "</div></p>"
                              "</div>"

         return formattedTweet

      }


   function loadTweets(tweetsElement){
      const xhr = new XMLHttpRequest()
      const method = 'GET'
      const url = '/tweets/'
      const responseType = 'json'

      xhr.responseType = responseType
      xhr.open(method, url)
      xhr.onload = function() {
         const serverResponse = xhr.response
         const listedItems = serverResponse
         var finalItems = ""
         var i;
         
         for (i=0;i<listedItems.length; i++) {
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalItems += currentItem
         }
         tweetsElement.innerHTML = finalItems
      }
      
      xhr.send()
   }
   loadTweets(tweetsContainerElement)

   </script>
  
{% endblock body %}